.parent-load {
    position: absolute;
    z-index: 1;

    .child-load {
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    }
}